.todo-listing-wrapper {
  width: 90%;
  border-radius: 10px;
  background: #eae1e1;
  box-shadow: 15px 15px 40px #b3b3b3, -15px -15px 40px #ffffff;
  margin: 5% auto;
  .todo-header {
    text-align: center;
    p {
      font-size: 1.5rem;
      font-weight: 500;
      font-family: "Poppins";
    }
  }
  .todo-container {
    width: 90%;
    margin: 0 auto;
    padding: 50px;
    .add-task {
      display: flex;
      input {
        width: 90%;
      }
      button {
        width: 10%;
        padding: 25px 30px;
        background-color: #000;
        color: #fff;
        border: none;
        font-weight: 500;
        font-size: 1rem;
      }
    }

    // for added tasks
    .added-tasks-list {
      display: flex;
      flex-direction: column;

      div {
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;
        :first-child {
          margin-right: 10px;
        }
        span {
          font-size: 24px;
        }
        label span span {
          width: 24px;
          height: 24px;
        }
        ::after {
          top: 45%;
          width: 7px;
          height: 14px;
        }
      }
    }
    .custom-alert-box-css {
      position: absolute;
      bottom: 50px;
      right: 80px;
      width: 20%;
    }
  }
}
.edit-task-modal input {
  padding: 15px;
  margin: 1rem 0;
  font-weight: 500;
  font-size: 1rem;
}
